@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

:root {
  --bgColor-red: #BB2339;
  --bgColor-white: #FFFFFF;
  --bgColor-lightgrey: #F8F8F8;
  --bgColor-grey: #F4F4F4;
  --fontColor-white: #FFFFFF;
  --fontColor-black: #242424;
  --fontColor-darkgrey: #333333;
  --fontColor-lightgrey: #AAAAAA;
  --owlBtn-border: #646464;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

@font-face {
  font-family: "Cera";
  src: url(../../assets/fonts/Fontspring-DEMO-ceraroundpro-black.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Cera";
  src: url(../../assets/fonts/Fontspring-DEMO-ceraroundpro-bold.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Cera";
  src: url(../../assets/fonts/Fontspring-DEMO-ceraroundpro-medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Cera";
  src: url(../../assets/fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Cera";
  src: url(../../assets/fonts/Fontspring-DEMO-ceraroundpro-light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Cera";
  src: url(../../assets/fonts/Fontspring-DEMO-ceraroundpro-thin.otf);
  font-weight: 100;
}
.container {
  max-width: container(1920, 310, 20);
}

nav {
  height: 120px;
  background: var(--bgColor-red);
  color: white !important;
  font-family: "Open Sans";
  z-index: 9999999999999;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

nav .navbar-brand {
  width: 135px;
  height: 47px;
}

@media (max-width: 992px) {
  nav .navbar-brand {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
nav .navbar-brand img {
  width: 135px;
  height: 47px;
}

nav .offcanvas-header,
nav .offcanvas-body {
  background-color: var(--bgColor-red);
}

nav ul li {
  position: relative;
  overflow: hidden;
}

nav ul li:hover span {
  opacity: 1;
}

nav ul li span {
  opacity: 0;
}

@media (max-width: 991px) {
  nav ul li span {
    display: none;
  }
}
nav ul li span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(to right, transparent, white);
  animation: anim1 1s linear infinite;
  -webkit-animation: anim1 1s linear infinite;
}

nav ul li span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, white);
  animation: anim2 1s linear infinite;
  -webkit-animation: anim2 1s linear infinite;
  animation-delay: 0.5s;
}

nav ul li span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(to left, transparent, white);
  animation: anim3 1s linear infinite;
  -webkit-animation: anim3 1s linear infinite;
}

nav ul li span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.5px;
  height: 100%;
  background: linear-gradient(to top, transparent, white);
  animation: anim4 1s linear infinite;
  -webkit-animation: anim4 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes anim1 {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes anim2 {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
}
@keyframes anim3 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes anim4 {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
}
nav ul li a {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  padding: 5px 10px !important;
  position: relative;
}

nav ul li button {
  padding: 10px 40px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}

nav ul li button:hover {
  background-color: white;
  color: var(--bgColor-red);
}

footer {
  background-color: var(--bgColor-red);
  margin-top: 200px;
}

footer .footer__wrapper {
  position: relative;
}

footer .footer__wrapper p {
  color: white;
}

footer .footer__wrapper-top {
  gap: 14px;
  width: 85%;
  background-color: var(--bgColor-red);
  border: 1px solid white;
  position: relative;
  top: -150px;
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-family: Cera;
}

@media (max-width: 766px) {
  footer .footer__wrapper-top {
    width: 95%;
  }
}
footer .footer__wrapper-top h5 {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 4%;
  color: var(--fontColor-white);
}

footer .footer__wrapper-top h1 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 3%;
  text-align: center;
  color: var(--fontColor-white);
}

footer .footer__wrapper-top p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4%;
  text-align: center;
  font-family: "Open Sans";
  color: var(--fontColor-white);
  text-align: center;
}

footer .footer__wrapper-top form {
  display: flex;
  gap: 1rem;
}

footer .footer__wrapper-top form input {
  width: 60%;
  min-width: 250px;
  height: 50px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  outline: none;
  border: 1px solid rgba(245, 239, 219, 0.5019607843);
  background-color: transparent;
  padding-left: 1rem;
}

footer .footer__wrapper-top form button {
  padding: 12px 32px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid var(--fontColor-white);
  color: var(--fontColor-white);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}

footer .footer__wrapper-top form button:hover {
  background-color: var(--fontColor-white);
  color: white;
}

footer .footer__wrapper-bottom {
  font-family: "Open Sans";
  justify-content: space-between;
  align-items: end;
  flex-direction: row;
  width: 100%;
}

footer .footer__wrapper-bottom .col-12:first-child p:last-child {
  max-width: 139px;
}

footer .footer__wrapper-bottom .col-12:nth-child(2) p {
  max-width: 418px;
  text-align: center;
}

footer .footer__wrapper-bottom .col-12:last-child p {
  max-width: 158px;
  text-align: center;
}

footer .footer__wrapper-bottom .col-12 h5 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 4%;
  color: white;
}

footer .footer__wrapper-bottom .col-12 p {
  max-width: 280px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4%;
  color: white;
}

footer .footer__wrapper-bottom .col-12 img {
  width: 250px;
}