@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.menu__wrapper-content-page-card {
  border: 1px solid rgba(36, 36, 36, 0.1019607843);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  padding: 40px 20px;
  display: grid;
  height: 350px;
  justify-items: center;
  z-index: 0;
  max-width: 350px;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  cursor: pointer;
  grid-template-rows: auto;
  position: relative;
}
.menu__wrapper-content-page-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bgColor-red);
  -webkit-clip-path: circle(0 at 50% 50%);
          clip-path: circle(0 at 50% 50%);
}
.menu__wrapper-content-page-card:hover {
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  align-items: end;
  color: white;
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0) scale(0.9);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.5);
  -webkit-transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0) scale(0.9);
  -moz-transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0) scale(0.9);
  -ms-transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0) scale(0.9);
  -o-transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0) scale(0.9);
}
.menu__wrapper-content-page-card:hover p {
  color: white;
}
.menu__wrapper-content-page-card:hover h5 {
  color: white;
}
.menu__wrapper-content-page-card:hover img {
  position: relative;
  top: -50px;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.menu__wrapper-content-page-card:hover::before {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.menu__wrapper-content-page-card img {
  width: 100% !important;
  max-width: 270px;
}
.menu__wrapper-content-page-card p {
  color: var(--fontColor-black);
}
.menu__wrapper-content-page-card h5 {
  color: var(--bgColor-red);
  font-weight: 700;
  font-size: 24px;
}

.menu__wrapper-buttons {
  width: 100%;
  padding: 5px;
  position: relative;
  overflow: auto;
}
.menu__wrapper-buttons-wrapper {
  display: grid;
  width: 100%;
  min-width: 1200px;
  gap: 5px;
  grid-template-columns: repeat(8, auto);
}
.menu__wrapper-buttons-wrapper-slider {
  position: absolute;
  width: 80px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100px;
  height: 48px;
  transition: 0.5s ease;
  z-index: -2 !important;
  background-color: var(--bgColor-red);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (min-width: 1400px) {
  .menu__wrapper-buttons-wrapper-slider {
    width: 88px;
  }
}
.menu__wrapper-buttons-wrapper-button {
  padding: 10px 30px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid var(--bgColor-red);
  color: var(--bgColor-red);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  white-space: nowrap;
  cursor: pointer;
}
.menu__wrapper-buttons-wrapper-button:hover {
  background-color: var(--bgColor-red);
  color: white;
}
.menu__wrapper-buttons-wrapper-button.active {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

:root {
  --bgColor-red: #BB2339;
  --bgColor-white: #FFFFFF;
  --bgColor-lightgrey: #F8F8F8;
  --bgColor-grey: #F4F4F4;
  --fontColor-white: #FFFFFF;
  --fontColor-black: #242424;
  --fontColor-darkgrey: #333333;
  --fontColor-lightgrey: #AAAAAA;
  --owlBtn-border: #646464;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

@font-face {
  font-family: "Cera";
  src: url(../../assets/fonts/Fontspring-DEMO-ceraroundpro-black.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Cera";
  src: url(../../assets/fonts/Fontspring-DEMO-ceraroundpro-bold.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Cera";
  src: url(../../assets/fonts/Fontspring-DEMO-ceraroundpro-medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Cera";
  src: url(../../assets/fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Cera";
  src: url(../../assets/fonts/Fontspring-DEMO-ceraroundpro-light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Cera";
  src: url(../../assets/fonts/Fontspring-DEMO-ceraroundpro-thin.otf);
  font-weight: 100;
}
.container {
  max-width: container(1920, 310, 20);
}

nav {
  height: 120px;
  background: var(--bgColor-red);
  color: white !important;
  font-family: "Open Sans";
  z-index: 9999999999999;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

nav .navbar-brand {
  width: 135px;
  height: 47px;
}

@media (max-width: 992px) {
  nav .navbar-brand {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
nav .navbar-brand img {
  width: 135px;
  height: 47px;
}

nav .offcanvas-header,
nav .offcanvas-body {
  background-color: var(--bgColor-red);
}

nav ul li {
  position: relative;
  overflow: hidden;
}

nav ul li:hover span {
  opacity: 1;
}

nav ul li span {
  opacity: 0;
}

@media (max-width: 991px) {
  nav ul li span {
    display: none;
  }
}
nav ul li span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(to right, transparent, white);
  animation: anim1 1s linear infinite;
  -webkit-animation: anim1 1s linear infinite;
}

nav ul li span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, white);
  animation: anim2 1s linear infinite;
  -webkit-animation: anim2 1s linear infinite;
  animation-delay: 0.5s;
}

nav ul li span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(to left, transparent, white);
  animation: anim3 1s linear infinite;
  -webkit-animation: anim3 1s linear infinite;
}

nav ul li span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.5px;
  height: 100%;
  background: linear-gradient(to top, transparent, white);
  animation: anim4 1s linear infinite;
  -webkit-animation: anim4 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes anim1 {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes anim2 {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
}
@keyframes anim3 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes anim4 {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
}
nav ul li a {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  padding: 5px 10px !important;
  position: relative;
}

nav ul li button {
  padding: 10px 40px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}

nav ul li button:hover {
  background-color: white;
  color: white;
}

footer {
  background-color: var(--bgColor-red);
  margin-top: 200px;
}

footer .footer__wrapper {
  position: relative;
}

footer .footer__wrapper p {
  color: white;
}

footer .footer__wrapper-top {
  gap: 14px;
  width: 85%;
  z-index: 9;
  background-color: var(--bgColor-red);
  border: 1px solid white;
  position: relative;
  top: -150px;
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-family: Cera;
}

@media (max-width: 766px) {
  footer .footer__wrapper-top {
    width: 95%;
  }
}
footer .footer__wrapper-top h5 {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 4%;
  color: var(--fontColor-white);
}

footer .footer__wrapper-top h1 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 3%;
  text-align: center;
  color: var(--fontColor-white);
}

footer .footer__wrapper-top p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4%;
  text-align: center;
  font-family: "Open Sans";
  color: var(--fontColor-white);
  text-align: center;
}

footer .footer__wrapper-top form {
  display: flex;
  gap: 1rem;
}

footer .footer__wrapper-top form input {
  width: 60%;
  min-width: 250px;
  height: 50px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  outline: none;
  border: 1px solid rgba(245, 239, 219, 0.5019607843);
  background-color: transparent;
  padding-left: 1rem;
}

footer .footer__wrapper-top form button {
  padding: 12px 32px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid var(--fontColor-white);
  color: var(--fontColor-white);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}

footer .footer__wrapper-top form button:hover {
  background-color: var(--fontColor-white);
  color: white;
}

footer .footer__wrapper-bottom {
  font-family: "Open Sans";
  justify-content: space-between;
  align-items: end;
  flex-direction: row;
  width: 100%;
}

footer .footer__wrapper-bottom .col-12:first-child p:last-child {
  max-width: 139px;
}

footer .footer__wrapper-bottom .col-12:nth-child(2) p {
  max-width: 418px;
  text-align: center;
}

footer .footer__wrapper-bottom .col-12:last-child p {
  max-width: 158px;
  text-align: center;
}

footer .footer__wrapper-bottom .col-12 h5 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 4%;
  color: white;
}

footer .footer__wrapper-bottom .col-12 p {
  max-width: 280px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4%;
  color: white;
}

footer .footer__wrapper-bottom .col-12 img {
  width: 250px;
}

.menu {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.menu__wrapper {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
}
@media (max-width: 992px) {
  .menu__wrapper {
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
  }
}
@media (max-width: 992px) {
  .menu__wrapper-buttons {
    overflow: auto;
  }
}
.menu__wrapper-buttons-wrapper {
  min-width: 100px !important;
  padding: 1rem;
  justify-content: start;
  grid-template-columns: repeat(1, auto);
  background-color: var(--bgColor-red);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
@media (max-width: 992px) {
  .menu__wrapper-buttons-wrapper {
    display: grid;
    width: 100%;
    min-width: 1200px;
    gap: 5px;
    grid-template-columns: repeat(8, auto);
  }
}
@media (max-width: 992px) {
  .menu__wrapper-buttons-wrapper {
    background-color: transparent;
  }
}
.menu__wrapper-buttons-wrapper h1 {
  color: white;
  font-size: 40px;
  font-family: Cera;
}
@media (max-width: 992px) {
  .menu__wrapper-buttons-wrapper h1 {
    display: none;
  }
}
.menu__wrapper-buttons-wrapper-slider {
  background-color: transparent;
}
@media (max-width: 992px) {
  .menu__wrapper-buttons-wrapper-slider {
    position: absolute;
    width: 80px;
    left: 21px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100px;
    height: 48px;
    transition: 0.5s ease;
    z-index: -2 !important;
    background-color: var(--bgColor-red);
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}
@media (max-width: 992px) and (min-width: 1400px) {
  .menu__wrapper-buttons-wrapper-slider {
    width: 88px;
  }
}
.menu__wrapper-buttons-wrapper-button {
  padding: 10px 30px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid var(--bgColor-white);
  color: var(--bgColor-white);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}
.menu__wrapper-buttons-wrapper-button:hover {
  background-color: var(--bgColor-white);
  color: var(--bgColor-red);
}
@media (max-width: 992px) {
  .menu__wrapper-buttons-wrapper-button {
    padding: 10px 30px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid var(--bgColor-red);
    color: var(--bgColor-red);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: 0.1s ease;
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    -ms-transition: 0.1s ease;
    -o-transition: 0.1s ease;
  }
  .menu__wrapper-buttons-wrapper-button:hover {
    background-color: var(--bgColor-red);
    color: white;
  }
  .menu__wrapper-buttons-wrapper-button.active {
    color: white;
  }
}
.menu__wrapper .menu__wrapper-content .menu__wrapper-content-page.active-tab {
  display: grid !important;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1rem !important;
}
@media (max-width: 576px) {
  .menu__wrapper .menu__wrapper-content .menu__wrapper-content-page.active-tab {
    grid-template-columns: repeat(1, 1fr);
  }
}