.content__logo{
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: -112.5px;
    right: 20px;
    animation: logoRotate 7.5s linear infinite;
    -webkit-animation: logoRotate 7.5s linear infinite;
}