.content__logo{
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: -112.5px;
    right: 20px;
    z-index: 99999999;
    animation: logoRotate 7.5s linear infinite;
    -webkit-animation: logoRotate 7.5s linear infinite;
}
@keyframes logoRotate {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}