@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../components/menu";
@use "../components/menunav";
@use "../components/sign";
@import "../global";

.menu{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    &__wrapper{
        position: relative;
        .content__logo{
            bottom: 150px !important;
        }
        display: grid;
        grid-template-columns: 1.5fr 4fr;
        @media (max-width: 992px){
        grid-template-columns: repeat(1, 1fr);
        overflow: hidden;
        .content__logo{
            display: none;
        }
        }
        &-buttons{
                @media (max-width: 992px) {
                    overflow: auto;
                }
            &-wrapper{
                @media (max-width: 992px) {
                    display: grid;
                    width: 100%;
                    min-width: 1200px;
                    gap: 5px;
                    grid-template-columns: repeat(8, auto);
                }
                min-width: 100px !important;
                padding: 1rem;
                justify-content: start;
                grid-template-columns: repeat(1, auto);
                background-color: var(--bgColor-red);
                @media (max-width: 992px) {
                    background-color: transparent;
                }
                border-radius: 14px;            
                -webkit-border-radius: 14px;
                -moz-border-radius: 14px;
                -ms-border-radius: 14px;
                -o-border-radius: 14px;
                h1{
                    color: white;
                    font-size: $font40;
                    font-family:Cera;
                    @media (max-width: 992px){
                        display: none
                    }
                }
                &-slider{
                    // display: none;
                    background-color: transparent;
                    @media (max-width: 992px) {
                        position: absolute;
                        width: 80px;
                        @media (min-width: 1400px) {
                            width: 88px;
                        }
                        left: 21px;
                        top: 50%;
                        transform: translateY(-50%);
                        border-radius: 100px;
                        height: 48px;
                        transition: .5s ease;
                        z-index: -2 !important;
                        background-color: var(--bgColor-red);
                        -webkit-transition: .5s ease;
                        -moz-transition: .5s ease;
                        -ms-transition: .5s ease;
                        -o-transition: .5s ease;
                        -webkit-border-radius: 100px;
                        -moz-border-radius: 100px;
                        -ms-border-radius: 100px;
                        -o-border-radius: 100px;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                    }
                }
                &-button{
                    @include btn(10px 30px, var(--bgColor-white), var(--bgColor-white));
                    @media (max-width: 992px) {
                    @include btn(10px 30px, var(--bgColor-red), var(--bgColor-red));
                    &.active{
                        color: white;
                    }
                    }
                }
            }
        }
        .menu__wrapper-content{
            .menu__wrapper-content-page{
                &.active-tab{
                    display: grid !important;
                    justify-items: center;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: auto;
                    gap: 1rem !important;
                    @media (max-width: 576px){
                    grid-template-columns: repeat(1, 1fr);
                    }
                }
            }
        }
    }
}
.gallery{
    width: 100%;
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: Cera;
    &__wrapper{
        &-text{
            h5{
                font-size: $font23;
                font-weight: 700;
                letter-spacing: 4%;
                color: var(--fontColor-black);
            }
            h1{
                font-size: $font48;
                font-weight: 700;
                letter-spacing: 3%;
                color: var(--fontColor-black);
            }
            P{
                font-size: $font16;
                font-weight: 400;
                letter-spacing: 4%;
                color: var(--fontColor-lightgrey);
            }
            svg{
                path{
                    fill: var(--bgColor-red);
                }
            }
            button{
                @include btn(8px 32px, var(--fontColor-black), var(--bgColor-red));
            }
        }
        width: 100%;
        .owl-carousel{
            width: 1200px;
            @media (max-width: 992px){
                width: 100%;
            }
            .item{
                height: 400px;
                cursor: pointer;
                border-radius: 14px;
                -webkit-border-radius: 14px;
                -moz-border-radius: 14px;
                -ms-border-radius: 14px;
                -o-border-radius: 14px;
                i{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    border-radius: 14px;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    color: white;
                    font-size: $font24;
                    z-index: 9;
                    backdrop-filter: brightness(50%);
                }
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 14px;
                    -webkit-border-radius: 14px;
                    -moz-border-radius: 14px;
                    -ms-border-radius: 14px;
                    -o-border-radius: 14px;
                }
                &:hover{
                    i{
                        display: flex !important;
                    }
                }
            }
        }
    }
}